@charset "UTF-8";
:root {
  --main-color: #cb0000;
}

@media (width < 375px) {
  html {
    font-size: 4.2667vw;
  }
}

body {
  font-family: "Yu Gothic", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
}
@media (width < 375px) {
  body {
    font-size: 4.2667vw;
  }
}
@media (width >= 768px) {
  body {
    font-size: 18px;
    line-height: 1.8333;
  }
}

:is(h1, h2, h3, h4, h5) {
  font-size: inherit;
  font-weight: inherit;
}

:is(body, h1, h2, h3, h4, h5, p, ul, li, dl, dt, dd, form, legend, label, fieldset, input, button) {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body * {
  max-height: 1000000em; /* Chrome for Android */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.img-100 {
  display: block;
  width: 100%;
  height: 100%;
}

.img-w-100 {
  display: block;
  width: 100%;
  height: auto;
}

.img-h-100 {
  display: block;
  width: auto;
  height: 100%;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: none;
}

@media (width >= 768px) {
  .br-sp {
    display: none;
  }
}

.br-pc {
  display: none;
}
@media (width >= 768px) {
  .br-pc {
    display: inline;
  }
}

.hidden {
  display: none;
}

.title {
  font-size: 1.5625em;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
@media (width >= 768px) {
  .title {
    font-size: 1.6667em;
    font-weight: 700;
    line-height: 1.6667;
  }
}

.page-title {
  font-size: 1.5625em;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}

main {
  padding-bottom: 8.125em;
}
@media (width >= 768px) {
  main {
    padding-bottom: 144px;
  }
}

.button[class] {
  display: grid;
  place-items: center;
  color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--main-color);
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.button[class]:hover, .button[class]:active {
  color: var(--main-color);
  text-decoration: none;
  background: white;
  border: 1px solid;
}

#back-to-top {
  right: 1.25em;
  bottom: 1.25em;
  width: 4.25em;
  height: 4.25em;
  opacity: 0.502;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media (width >= 768px) {
  #back-to-top {
    font-size: 16px;
  }
}
@media (width >= 1080px) {
  #back-to-top {
    right: 116px;
  }
}
#back-to-top svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* --------------------------------------------------
blog-card
-------------------------------------------------- */
.blog-card__image-box {
  display: grid;
}
@media (width >= 768px) {
  .blog-card__image-box {
    max-width: 260px;
  }
}
.blog-card__image-box:hover, .blog-card__image-box:active {
  opacity: 0.7;
}

.blog-card__tag,
.blog-card__image {
  grid-area: 1/1;
}

.blog-card__image {
  aspect-ratio: 335/200;
}
@media (width >= 768px) {
  .blog-card__image {
    height: 200px;
    aspect-ratio: unset;
  }
}
.blog-card__image .img-w-100 {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card__tag {
  font-size: 0.9375em;
  font-weight: 700;
  line-height: 1.6667;
  display: grid;
  place-items: center;
  width: 6em;
  height: 2em;
  color: white;
  text-align: center;
  background: var(--main-color);
}
@media (width >= 768px) {
  .blog-card__tag {
    width: 80px;
  }
}

.blog-card__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 1.5em;
}
@media (width >= 768px) {
  .blog-card__title {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 20px;
  }
}

.blog-card__title-link:hover, .blog-card__title-link:active {
  text-decoration: underline;
  opacity: 0.5;
}

.blog-card__date {
  font-size: 1.0625rem;
  line-height: 1.7647;
  margin-top: 0.3529em;
  text-align: right;
}
@media (width >= 768px) {
  .blog-card__date {
    margin-top: 12px;
  }
}

.blog-card__text {
  font-size: 1rem;
  line-height: 1.875;
  margin-top: 0.3125em;
  margin-top: 10px;
}

.header__container {
  display: grid;
  height: 3.125em;
}
@media (width >= 768px) {
  .header__container {
    max-width: 1080px;
    height: 80px;
    padding-inline: clamp(1.25rem, -11.0576923077rem + 25.641025641vw, 6.25rem);
    margin-inline: auto;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: 1/1;
  -webkit-column-gap: 0.4375em;
     -moz-column-gap: 0.4375em;
          column-gap: 0.4375em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding-left: 1.25em;
}
@media (width >= 768px) {
  .header__link {
    padding-left: unset;
  }
}

.header__logo {
  width: 1.25em;
  height: 1.9375em;
  fill: var(--main-color);
}
@media (width >= 768px) {
  .header__logo {
    width: 32px;
    height: 49px;
  }
}

.header__head {
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.0769;
}
@media (width >= 768px) {
  .header__head {
    font-size: 0.9375em;
    line-height: 1.5333;
    padding: 5px 0 0 3px;
  }
  .header__head span {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.15;
  }
}

.header-nav {
  grid-area: 1/1;
  justify-self: end;
  height: 100%;
}

#header-nav__toggle {
  display: none;
}
#header-nav__toggle:checked ~ .header-nav__button .header-nav__box > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#header-nav__toggle:checked ~ .header-nav__button .header-nav__box > span::before, #header-nav__toggle:checked ~ .header-nav__button .header-nav__box > span::after {
  top: 0;
}
#header-nav__toggle:checked ~ .header-nav__button .header-nav__box > span::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
#header-nav__toggle:checked ~ .header-nav__button .header-nav__box > span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#header-nav__toggle:checked ~ .header-nav__container {
  visibility: visible;
  margin-right: 0;
}

.header-nav__button {
  z-index: 2;
  display: grid;
  place-items: center;
  width: 4.4375em;
  height: 100%;
  cursor: pointer;
  background: var(--main-color);
}
@media (width >= 768px) {
  .header-nav__button {
    display: none;
  }
}

.header-nav__box {
  position: relative;
  display: block;
  width: 2.0625em;
  padding-bottom: 0.125em;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.header-nav__line {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.1875em;
  background: white;
  border-radius: 1px;
}
.header-nav__line::before, .header-nav__line::after {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.1875em;
  background: white;
  border-radius: 1px;
  content: "";
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.header-nav__line::before {
  bottom: 0.75em;
}
.header-nav__line::after {
  top: 0.75em;
}

.header-nav__container[class] {
  position: fixed;
  top: 3.125em;
  right: 0;
  z-index: 3;
  visibility: hidden;
  row-gap: 2.5em;
  width: 18.75em;
  margin-right: -100vw;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (width >= 768px) {
  .header-nav__container[class] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: unset;
    top: unset;
    visibility: visible;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    width: unset;
    height: 100%;
    margin-right: unset;
  }
}

@media (width >= 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    height: 100%;
    padding: 6px 2px 0 0;
  }
}

.header-nav__link[class] {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.8333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.2222em;
  padding-left: 1.1111em;
  color: white;
  background: var(--main-color);
}
@media (width >= 768px) {
  .header-nav__link[class] {
    height: 100%;
    padding-left: unset;
    color: black;
    background: unset;
  }
}
.header-nav__link[class]:hover, .header-nav__link[class]:active {
  text-decoration: unset;
  background: black;
}
@media (width >= 768px) {
  .header-nav__link[class]:hover, .header-nav__link[class]:active {
    text-decoration: underline;
    background: unset;
    opacity: 0.5;
  }
}

.header-nav__contact[class] {
  display: none;
}
@media (width >= 768px) {
  .header-nav__contact[class] {
    font-size: 0.9375em;
    font-weight: 700;
    line-height: 1.5333;
    display: grid;
    width: 150px;
    height: 45px;
    padding-top: 4px;
  }
}

/* --------------------------------------------------
hero
-------------------------------------------------- */
@media (width >= 1920px) {
  .hero {
    background-color: var(--main-color);
  }
}

.hero__inner {
  display: grid;
  place-items: center;
  height: 18.75em;
  background-position: top center;
  background-size: cover;
}
@media (width >= 768px) {
  .hero__inner {
    max-width: 1920px;
    height: 200px;
    margin-inline: auto;
  }
}
.hero__inner::before {
  display: grid;
  grid-area: 1/1;
  place-items: center;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(80, 80, 80, 0.5);
  mix-blend-mode: multiply;
}

.hero__h2 {
  font-size: 1.5625em;
  font-weight: 700;
  line-height: 2.4;
  z-index: 2;
  grid-area: 1/1;
  margin-top: 0.48em;
  color: white;
  text-align: center;
}

/* --------------------------------------------------
breadcrumb
-------------------------------------------------- */
.breadcrumb {
  background: #e8e8e8;
}

.breadcrumb__list {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.25em;
     -moz-column-gap: 1.25em;
          column-gap: 1.25em;
  padding: 0.625em 1.25em 0.25em;
}
@media (width >= 768px) {
  .breadcrumb__list {
    max-width: 1080px;
    padding: 16px clamp(1.25rem, -11.0576923077rem + 25.641025641vw, 6.25rem) 11px;
    margin-inline: auto;
  }
}

.breadcrumb__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 1.25em;
     -moz-column-gap: 1.25em;
          column-gap: 1.25em;
}

.breadcrumb__link:hover, .breadcrumb__link:active {
  text-decoration: underline;
  opacity: 0.5;
}

@media (width >= 768px) {
  .breadcrumb__text--sp {
    display: none;
  }
}

.breadcrumb__text--pc {
  display: none;
}
@media (width >= 768px) {
  .breadcrumb__text--pc {
    display: inline;
  }
}

@media (width >= 768px) {
  .footer-contact {
    max-width: 1080px;
    padding-right: 1px;
    margin-inline: auto;
  }
}

.footer-contact__link {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.65;
  width: 16.75em;
  height: 3em;
  padding-top: 0.4em;
  margin-inline: auto;
  letter-spacing: 0.2em;
}
@media (width >= 768px) {
  .footer-contact__link {
    width: 300px;
    padding-top: 10px;
    margin-inline: auto 0;
  }
}

.footer-contact__span {
  margin-right: -0.2em;
}

.footer__container {
  padding: 2.8125em 1.25em 3.1875em;
  color: white;
  background: var(--main-color);
}
@media (width >= 768px) {
  .footer__container {
    padding-top: 44px;
    padding-bottom: 51px;
  }
}

.footer__list {
  font-size: 1.0625em;
  font-weight: 700;
  line-height: 1.9412;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.7059em;
     -moz-column-gap: 1.7059em;
          column-gap: 1.7059em;
  margin-bottom: 1.0588em;
}
@media (width >= 768px) {
  .footer__list {
    -webkit-column-gap: 33px;
       -moz-column-gap: 33px;
            column-gap: 33px;
  }
}

.footer__link[class] {
  color: white;
}
.footer__link[class]:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.footer__logo {
  display: block;
  width: 2em;
  height: 3.0625em;
  margin: 0 auto 1.75em;
  fill: white;
}
@media (width >= 768px) {
  .footer__logo {
    margin-bottom: 24px;
  }
}

.footer__copy {
  line-height: 1.3333em;
  text-align: center;
}
.footer__copy small {
  font-size: 0.9375em;
}

.footer-sns {
  display: grid;
  width: 7.875em;
  height: 1.375em;
  margin: 0.9375em auto 0;
}
@media (width >= 768px) {
  .footer-sns {
    margin-top: 2px;
  }
}

.footer-sns__icons {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
}

.footer-sns__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: 1/1;
}

.footer-sns__link {
  display: block;
  width: 24%;
  height: 100%;
}

/* --------------------------------------------------
index-hero
-------------------------------------------------- */
.index-hero__inner {
  height: 34.375em;
  background-image: url("../img/index/hero-sp.jpg");
}
@media (width >= 768px) {
  .index-hero__inner {
    height: 470px;
    background-image: url("../img/index/hero-pc.jpg");
  }
}

.index-hero__h2 {
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.6667;
  margin-top: 0.6em;
}
@media (width >= 768px) {
  .index-hero__h2 {
    margin-top: 22px;
    font-size: 40px;
    line-height: 1.5em;
  }
}

/* --------------------------------------------------
index-topic
-------------------------------------------------- */
.index-topic__inner {
  padding: 2.9375em 1.25em 2.25em;
}
@media (width >= 768px) {
  .index-topic__inner {
    padding: 68px 20px 57px;
  }
}

.index-topic__head {
  color: var(--main-color);
}
@media (width >= 768px) {
  .index-topic__head {
    font-size: 1.9444em;
    font-weight: 700;
    line-height: 1.4286;
  }
}

.index-topic__text {
  font-size: 1.125rem;
  line-height: 1.6667;
  margin-top: 0.3889em;
}
@media (width >= 768px) {
  .index-topic__text {
    margin-top: 17px;
    text-align: center;
  }
}

.index-topic__semicircle {
  height: 2.3125em;
  margin-top: 1.25em;
}
@media (width >= 768px) {
  .index-topic__semicircle {
    max-width: 858px;
    height: auto;
    aspect-ratio: 858/56;
    margin: 32px auto 0;
  }
}

.index-topic__table {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 1.0625em 5em;
  padding: 1.875em 0.625em 0 0;
  margin-top: 0.5625em;
  background-image: url("../img/topic/arrow.svg"), url("../img/topic/circle.svg");
  background-repeat: no-repeat;
  background-position: center top, center top 2.4375em;
  background-size: 2.125em 11.875em, 1.25em 10em;
}
@media (width >= 768px) {
  .index-topic__table {
    -webkit-column-gap: 78px;
       -moz-column-gap: 78px;
            column-gap: 78px;
    padding: 28px 28px 0 0;
    margin-top: -8px;
    font-size: 16px;
  }
}

.index-topic__data {
  font-size: 1.25em;
  line-height: 2.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
}
@media (width >= 768px) {
  .index-topic__data {
    font-size: 1.3889em;
    line-height: 2;
    height: 50px;
  }
}

.index-topic__data--left {
  justify-self: end;
  font-weight: 700;
  color: var(--main-color);
}

.index-topic__data--right {
  justify-self: start;
}
@media (width >= 768px) {
  .index-topic__data--right {
    font-size: 23px;
  }
}

.index-topic__data--bottom {
  padding-top: 0.25em;
}

/* --------------------------------------------------
index-about
-------------------------------------------------- */
.index-about {
  font-size: 1.125rem;
  line-height: 1.6667;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.7778em;
  padding: 2.8333em 0 2.0556em;
  color: white;
  text-align: center;
  background: var(--main-color);
}
@media (width >= 768px) {
  .index-about {
    row-gap: 30px;
    padding: 70px 0 60px;
  }
}

/* --------------------------------------------------
index-reason
-------------------------------------------------- */
.index-reason {
  padding: 3.1875em 1.25em 2.3125em;
}
@media (width >= 768px) {
  .index-reason {
    padding: 64px 20px 90px;
  }
}

.index-reason__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.4375em;
  margin-top: 2.25em;
}
@media (width >= 768px) {
  .index-reason__list {
    row-gap: 50px;
    max-width: 880px;
    margin: 27px auto 0;
  }
}

.index-reason__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875em;
}
@media (width >= 768px) {
  .index-reason__item {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

@media (width >= 768px) {
  .index-reason__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .index-reason__image .img-w-100 {
    width: 350px;
    height: 247px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.index-reason__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 0.35em;
  border-bottom: 0.1em solid var(--main-color);
}
@media (width >= 768px) {
  .index-reason__title {
    font-size: 1.2222rem;
    line-height: 1.5;
    padding-bottom: 8px;
    padding-left: clamp(1.25rem, -3.3653846154rem + 9.6153846154vw, 3.125rem);
    margin-top: -2px;
  }
  .index-reason__list .index-reason__item:first-child .index-reason__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-top: unset;
  }
}

.index-reason__text {
  font-size: 1rem;
  line-height: 1.875;
  margin-top: 1.125em;
}
@media (width >= 768px) {
  .index-reason__text {
    padding-left: clamp(1.25rem, -3.3653846154rem + 9.6153846154vw, 3.125rem);
    margin-top: 38px;
  }
  .index-reason__list .index-reason__item:first-child .index-reason__text {
    margin-top: 37px;
  }
}

/* --------------------------------------------------
index-voice
-------------------------------------------------- */
.index-voice {
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-top-offset: 42%;
  padding: 3em 1.25em 3.125em;
  color: white;
  background: var(--main-color);
}
@media (width >= 768px) {
  .index-voice {
    --swiper-navigation-top-offset: 145px;
    padding: 44px 20px 80px;
  }
}
.index-voice .swiper {
  margin-top: 2.4375em;
}
@media (width >= 768px) {
  .index-voice .swiper {
    max-width: 882px;
    margin-top: 36px;
  }
}
.index-voice .swiper-button-prev,
.index-voice .swiper-button-next {
  width: 1.875em;
  aspect-ratio: 30/38;
}
@media (width >= 768px) {
  .index-voice .swiper-button-prev,
  .index-voice .swiper-button-next {
    width: 28px;
  }
}
.index-voice .swiper-button-prev::after,
.index-voice .swiper-button-next::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url("../img/voice/arrow-left.svg") no-repeat center;
  background-size: contain;
}
.index-voice .swiper-button-next::after {
  rotate: 180deg;
}

.index-voice__container {
  position: relative;
  max-width: 966px;
  margin-inline: auto;
}

.index-voice__image {
  aspect-ratio: 335/200;
}
@media (width >= 768px) {
  .index-voice__image {
    height: 190px;
    aspect-ratio: unset;
  }
}
.index-voice__image .img-100 {
  -o-object-fit: cover;
     object-fit: cover;
}

.index-voice__name {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 1.2273em;
}
@media (width >= 768px) {
  .index-voice__name {
    margin-top: 18px;
  }
}

.index-voice__text {
  font-size: 1.125rem;
  line-height: 1.6667;
  margin-top: 0.5556em;
}

/* --------------------------------------------------
index-guide
-------------------------------------------------- */
.index-guide {
  padding: 2.875em 1.25em 0;
}
@media (width >= 768px) {
  .index-guide {
    max-width: 840px;
    padding-top: 34px;
    margin-inline: auto;
  }
}

.index-guide__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 2.25em;
  background-image: url("../img/guide/arrow-sp.png");
  background-repeat: no-repeat;
  background-position: top 0.75em left;
  background-size: 2.1875em 42.125em;
}
@media (width >= 768px) {
  .index-guide__container {
    width: unset;
    padding-bottom: 16px;
    margin-top: 41px;
    background-image: url("../img/guide/arrow-pc.png");
    background-position: top 40px left;
    background-size: 35px 91%;
  }
}

.index-guide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.25em;
  min-height: 43.5em;
}
@media (width >= 768px) {
  .index-guide__list {
    row-gap: 48px;
    min-height: unset;
  }
}

.index-guide__item {
  padding-left: 3em;
  background-image: url("../img/guide/circle.svg");
  background-repeat: no-repeat;
  background-position: top 0.25em left 0.5em;
  background-size: 1.25em 1.25em;
}
@media (width >= 768px) {
  .index-guide__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 38px;
       -moz-column-gap: 38px;
            column-gap: 38px;
    padding-left: 78px;
    background-position: top 42% left 8px;
    background-size: 20px 20px;
  }
}

.index-guide__title {
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.5;
  color: var(--main-color);
}
@media (width >= 768px) {
  .index-guide__title {
    width: 154px;
    padding-top: 1px;
  }
}

.index-guide__text {
  font-size: 1em;
  line-height: 1.875;
  margin-top: 0.5625em;
}
@media (width >= 768px) {
  .index-guide__text {
    font-size: 1em;
    line-height: 1.6667;
  }
}

/* --------------------------------------------------
index-faq
-------------------------------------------------- */
.index-faq {
  padding: 3.4375em 1.25em 0;
}
@media (width >= 768px) {
  .index-faq {
    padding: 92px 20px 0;
  }
}

.index-faq__list {
  margin-top: 2.375em;
  border-top: 1px solid black;
}
@media (width >= 768px) {
  .index-faq__list {
    max-width: 876px;
    margin-inline: auto;
    margin-top: 35px;
  }
}

.index-faq__item {
  margin-bottom: 1px;
  border-bottom: 1px solid black;
}

.index-faq__question {
  cursor: pointer;
}

.index-faq__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (width >= 768px) {
  .index-faq__box {
    padding: 2px 0 0 18px;
  }
}

.index-faq__icon {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.5;
  display: grid;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  place-items: center;
  width: 1.75em;
  height: 1.75em;
  padding-top: 0.1em;
  color: white;
  background: black;
  border-radius: 50%;
}
@media (width >= 768px) {
  .index-faq__icon {
    padding-top: 0;
  }
}

.index-faq__icon--red {
  background: var(--main-color);
}

.index-faq__text {
  font-size: 1rem;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 14.5625em;
  padding: 1.0625em 2.9375em 0.4375em 1.25em;
}
@media (width >= 768px) {
  .index-faq__text {
    font-size: 1.0625rem;
    line-height: 1.7647;
    padding: 18px 0 14px 9px;
  }
  .index-faq__answer .index-faq__text {
    padding-top: 19px;
    padding-bottom: 12px;
  }
}

.index-faq__text--red {
  padding-top: 1.1875em;
  font-weight: 700;
  color: var(--main-color);
}

.index-faq__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.875em;
  height: 100%;
  margin: 0.125em 0.875em 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (width >= 768px) {
  .index-faq__arrow {
    right: 10px;
  }
}
.index-faq__item.is-open .index-faq__arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.index-faq__answer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 0;
  overflow: hidden;
  background: rgba(203, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: height 0.3s ease, opacity 0.3s ease;
  transition: height 0.3s ease, opacity 0.3s ease;
}
.index-faq__answer.is-open {
  height: unset;
  opacity: 1;
}

/* --------------------------------------------------
index-blog
-------------------------------------------------- */
.index-blog__container {
  padding: 3.125em 1.25em 0;
}
@media (width >= 768px) {
  .index-blog__container {
    max-width: 926px;
    padding-top: 68px;
    margin-inline: auto;
  }
}

.index-blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.5625em;
  margin-top: 2.375em;
}
@media (width >= 768px) {
  .index-blog__list {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 34px;
  }
}
@media (width >= 1080px) {
  .index-blog__list {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}

.index-blog__link[class] {
  font-size: 1.125em;
  line-height: 1.6667;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 2.0556em;
  padding-left: 0.1667em;
  margin-inline: auto;
  text-decoration: underline;
}
@media (width >= 768px) {
  .index-blog__link[class] {
    margin-inline: auto 0;
  }
}

/* --------------------------------------------------
plan
-------------------------------------------------- */
.plan {
  padding-bottom: 7.8125em;
}
@media (width >= 768px) {
  .plan {
    padding-bottom: 163px;
  }
}

/* --------------------------------------------------
plan-hero
-------------------------------------------------- */
.plan-hero__inner {
  background-image: url("../img/plan/hero-sp.jpg");
}
@media (width >= 768px) {
  .plan-hero__inner {
    background-image: url("../img/plan/hero-pc.jpg");
  }
}

/* --------------------------------------------------
plan-topic
-------------------------------------------------- */
.plan-topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.9375em 1.25em 0;
}
@media (width >= 768px) {
  .plan-topic {
    padding-top: 66px;
  }
}

.plan-topic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25em;
  margin-top: 2.375em;
}
@media (width >= 768px) {
  .plan-topic__container {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-column-gap: 29px;
       -moz-column-gap: 29px;
            column-gap: 29px;
    margin-top: 38px;
  }
}

.plan-topic__box {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.65;
  display: grid;
  place-items: center;
  width: 10.5em;
  height: 3em;
  padding-top: 0.25em;
  color: white;
  background: var(--main-color);
}

.plan-topic__image {
  width: 1.1875em;
}
@media (width >= 768px) {
  .plan-topic__image {
    width: 19px;
    margin-top: 9px;
  }
}

.plan-topic__text {
  font-size: 1rem;
  line-height: 1.875;
  margin-top: 2.9375em;
}
@media (width >= 768px) {
  .plan-topic__text {
    font-size: 1rem;
    line-height: 1.6667;
    max-width: 890px;
    margin-top: 48px;
  }
}

/* --------------------------------------------------
plan-content
-------------------------------------------------- */
.plan-content {
  padding: 2.375em 1.25em 0;
}
@media (width >= 768px) {
  .plan-content {
    padding-top: 57px;
  }
}

.plan-content__head {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.plan-content__container {
  padding: 1em 0 1.125em;
  overflow-x: auto;
}
@media (width >= 768px) {
  .plan-content__container {
    padding: 48px 0 18px;
  }
}
.plan-content__container::-webkit-scrollbar {
  height: 1.5625em;
}
.plan-content__container::-webkit-scrollbar-track {
  background: rgba(80, 80, 80, 0.15);
}
.plan-content__container::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.25);
}

.plan-content__table {
  font-size: 1em;
  line-height: 1.875;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid;
}
@media (width >= 768px) {
  .plan-content__table {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
  }
}

tbody .plan-content__tr:nth-child(even) {
  background-color: rgba(80, 80, 80, 0.15);
}

.plan-content__th,
.plan-content__td {
  height: 5.3125em;
  padding: 0;
  text-align: center;
}
@media (width >= 768px) {
  .plan-content__th,
  .plan-content__td {
    height: 85px;
  }
}

.plan-content__th {
  width: 10.5625em;
  vertical-align: bottom;
  color: white;
  border-bottom: 1px solid black;
}
@media (width >= 768px) {
  .plan-content__th {
    width: 220px;
    height: 80px;
  }
}
.plan-content__th:first-child {
  width: 10.4375em;
}
@media (width >= 768px) {
  .plan-content__th:first-child {
    width: 220px;
  }
}
.plan-content__th:nth-child(3) {
  background: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.plan-content__td {
  padding-top: 0.4375em;
  border-right: 1px solid black;
}
@media (width >= 768px) {
  .plan-content__td {
    padding-top: 4px;
  }
}
.plan-content__td:first-child {
  padding-left: 0.5625em;
  text-align: left;
}
@media (width >= 768px) {
  .plan-content__td:first-child {
    padding-left: 20px;
  }
}
.plan-content__td:last-child {
  border-right: none;
}

.plan-content__text {
  font-size: 1.0625em;
  line-height: 1.5882;
  margin-top: -0.0625em;
}
.plan-content__td .plan-content__text {
  font-size: 1em;
  line-height: 1.5625;
}
@media (width >= 768px) {
  .plan-content__td .plan-content__text {
    font-size: 0.9444em;
    line-height: 1.4706;
    margin-top: 2px;
  }
}
.plan-content__th .plan-content__text {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 0.125em;
}
@media (width >= 768px) {
  .plan-content__th .plan-content__text {
    font-size: 1.1111em;
    line-height: 1.65;
    margin-top: 2px;
  }
}
.plan-content__th:nth-child(3) .plan-content__text {
  position: relative;
  top: -0.1875em;
}
@media (width >= 768px) {
  .plan-content__th:nth-child(3) .plan-content__text {
    top: -5px;
  }
}
tbody .plan-content__tr:first-child .plan-content__text {
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.5;
}
tbody .plan-content__tr:first-child .plan-content__td:first-child .plan-content__text {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.875;
}
tbody .plan-content__tr:first-child .plan-content__td:nth-child(3) .plan-content__text {
  color: var(--main-color);
}

.plan-content__small {
  font-size: 0.8em;
}

.plan-content__box {
  display: grid;
  place-items: center;
  height: 4.125em;
  background: black;
  border: 1px solid black;
}
@media (width >= 768px) {
  .plan-content__box {
    height: 49px;
  }
}

.plan-content__circle {
  display: inline-block;
  width: 0.9375em;
  height: 0.9375em;
  background: black;
  border-radius: 50%;
}
tbody .plan-content__td:nth-child(3) .plan-content__circle {
  background: var(--main-color);
}

.plan-content__line {
  display: inline-block;
  width: 1.875em;
  height: 10px;
  border-top: 1px solid black;
}

.plan-content__notice {
  font-size: 1rem;
  line-height: 1.875;
  margin-top: 1em;
}
@media (width >= 768px) {
  .plan-content__notice {
    font-size: 0.9444rem;
    line-height: 1.4706;
    max-width: 880px;
    margin-inline: auto;
    margin-top: 10px;
  }
}

/* --------------------------------------------------
blog
-------------------------------------------------- */
.blog {
  padding-bottom: 8.9375em;
}
@media (width >= 768px) {
  .blog {
    padding-bottom: 151px;
  }
}

/* --------------------------------------------------
blog-hero
-------------------------------------------------- */
.blog-hero__inner {
  background-image: url("../img/blog/hero-sp.jpg");
}
@media (width >= 768px) {
  .blog-hero__inner {
    background-image: url("../img/blog/hero-pc.jpg");
  }
}

/* --------------------------------------------------
blog-content
-------------------------------------------------- */
.blog-content {
  padding: 2.9375em 1.25em 0;
}
@media (width >= 768px) {
  .blog-content {
    padding-top: 66px;
  }
}

.blog-content__container {
  padding-top: 2.375em;
}
@media (width >= 768px) {
  .blog-content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 70px;
    padding-top: 38px;
  }
}

.blog-content__card.blog-card {
  padding-bottom: 2.3125em;
}
@media (width >= 768px) {
  .blog-content__card.blog-card {
    display: grid;
    grid-template: 27px 42px 1fr/repeat(2, auto);
    grid-auto-flow: column;
    -webkit-column-gap: clamp(1.25rem, -3.3653846154rem + 9.6153846154vw, 3.125rem);
       -moz-column-gap: clamp(1.25rem, -3.3653846154rem + 9.6153846154vw, 3.125rem);
            column-gap: clamp(1.25rem, -3.3653846154rem + 9.6153846154vw, 3.125rem);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 184px;
    padding-bottom: unset;
    overflow: hidden;
  }
  .blog-content__card.blog-card .blog-card__image-box {
    grid-row: span 3;
    min-width: 260px;
  }
  .blog-content__card.blog-card .blog-card__image {
    height: 184px;
  }
  .blog-content__card.blog-card .blog-card__title {
    margin-top: unset;
  }
  .blog-content__card.blog-card .blog-card__date {
    margin-top: unset;
    text-align: unset;
  }
  .blog-content__card.blog-card .blog-card__text {
    font-size: 1rem;
    line-height: 1.6667;
    max-width: 570px;
    margin-top: unset;
  }
}

.blog-content__extra-text {
  display: none;
}
@media (width >= 768px) {
  .blog-content__extra-text {
    display: block;
  }
}

/* --------------------------------------------------
blog-pager
-------------------------------------------------- */
.blog-pager {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.75;
  margin-top: 1.25em;
}
@media (width >= 768px) {
  .blog-pager {
    margin-top: 70px;
  }
}

.blog-pager__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.3125em;
     -moz-column-gap: 0.3125em;
          column-gap: 0.3125em;
}
@media (width >= 768px) {
  .blog-pager__list {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

.blog-pager__inner {
  display: grid;
  place-items: center;
  min-width: 2.75em;
  height: 2.75em;
  padding: 0.125em 0.3125em 0;
  border: 1px solid black;
}
@media (width >= 768px) {
  .blog-pager__inner {
    min-width: 50px;
    height: 50px;
  }
}
.blog-pager__item--dot .blog-pager__inner {
  min-width: 1.0625em;
  padding: 0.125em 0 0;
  border: none;
}

.blog-pager__item--active {
  color: white;
  background: black;
}

.blog-pager__item--dot {
  margin: 0 0.4375em 0 0.375em;
}
@media (width >= 768px) {
  .blog-pager__item--dot {
    margin: 0 11px 0 10px;
  }
}

.blog-pager__link {
  width: 100%;
  height: 100%;
}
.blog-pager__link:hover, .blog-pager__link:active {
  color: white;
  background: black;
  opacity: 0.7;
}

/* --------------------------------------------------
detail
-------------------------------------------------- */
.detail {
  padding: 3.125em 1.25em 8.5625em;
}
@media (width >= 768px) {
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;
    padding: 70px 20px 127px;
  }
}

@media (width >= 768px) {
  .detail__main {
    max-width: 600px;
  }
}

@media (width >= 768px) {
  .detail__extra {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 250px;
  }
}

/* --------------------------------------------------
detail-content
-------------------------------------------------- */
@media (width >= 768px) {
  .detail-content__card.blog-card .blog-card__image-box {
    width: 100%;
    max-width: unset;
  }
}
@media (width >= 768px) {
  .detail-content__card.blog-card .blog-card__image {
    height: unset;
    aspect-ratio: 600/350;
  }
}
.detail-content__card.blog-card .blog-card__tag {
  padding-top: 0.2667em;
}
.detail-content__card.blog-card .blog-card__title {
  margin-top: 1.6em;
  text-align: unset;
}
@media (width >= 768px) {
  .detail-content__card.blog-card .blog-card__title {
    font-size: 1.3889rem;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 48px;
  }
}
@media (width >= 768px) {
  .detail-content__card.blog-card .blog-card__title-text--sp {
    display: none;
  }
}
.detail-content__card.blog-card .blog-card__title-text--pc {
  display: none;
}
@media (width >= 768px) {
  .detail-content__card.blog-card .blog-card__title-text--pc {
    display: inline;
  }
}
.detail-content__card.blog-card .blog-card__date {
  text-align: unset;
}
@media (width >= 768px) {
  .detail-content__card.blog-card .blog-card__date {
    margin-top: 5px;
  }
}

.detail-content__text {
  font-size: 1rem;
  line-height: 1.875;
}
@media (width >= 768px) {
  .detail-content__text {
    font-size: 1rem;
    line-height: 1.6667;
  }
}

.detail-content__head2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 1.95em 0 0.85em;
}
@media (width >= 768px) {
  .detail-content__head2 {
    margin: 38px 0 20px;
  }
}

.detail-content__image {
  display: block;
  margin-top: 2.4375em;
}
@media (width >= 768px) {
  .detail-content__image {
    max-width: 334px;
    margin-top: 16px;
  }
  .detail-content__image .img-w-100 {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.detail-content__list {
  margin-top: 1.75em;
}
@media (width >= 768px) {
  .detail-content__list {
    font-size: 1rem;
    line-height: 1.6667;
    margin-top: 28px;
  }
}

.detail-content__hr {
  margin-top: 2.25em;
}
@media (width >= 768px) {
  .detail-content__hr {
    margin-top: 39px;
  }
}

.detail-content__head3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5em 0 1em;
}
@media (width >= 768px) {
  .detail-content__head3 {
    margin: 48px 0 22px 1px;
  }
}
.detail-content__head3::before {
  display: block;
  width: 0.2em;
  height: 2.5em;
  margin-right: 0.3em;
  content: "";
  background: black;
}
@media (width >= 768px) {
  .detail-content__head3::before {
    height: 20px;
  }
}

.detail-content__link[class] {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.65;
  color: var(--main-color);
  text-decoration: underline;
}
.detail-content__link[class]:hover, .detail-content__link[class]:active {
  text-decoration: none;
  opacity: 0.5;
}

/* --------------------------------------------------
detail-sns
-------------------------------------------------- */
.detail-sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.1875em;
     -moz-column-gap: 0.1875em;
          column-gap: 0.1875em;
  margin: 1.3125em 0 1.6875em;
}
@media (width >= 768px) {
  .detail-sns__list {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin: 20px 0 50px;
  }
}

.detail-sns__item {
  width: 4.0625em;
  height: 2.5em;
}
@media (width >= 768px) {
  .detail-sns__item {
    height: 40px;
  }
}
.detail-sns__item.facebook {
  background: #425893;
}
@media (width >= 768px) {
  .detail-sns__item.facebook {
    width: 105px;
  }
}
.detail-sns__item.twitter {
  background: #4a9feb;
}
@media (width >= 768px) {
  .detail-sns__item.twitter {
    width: 88px;
  }
}
.detail-sns__item.hatena {
  background: #4eacd5;
}
@media (width >= 768px) {
  .detail-sns__item.hatena {
    width: 93px;
  }
}
.detail-sns__item.line {
  background: #52b534;
}
@media (width >= 768px) {
  .detail-sns__item.line {
    width: 79px;
  }
}
.detail-sns__item.pocket {
  background: #dc4f5a;
}
@media (width >= 768px) {
  .detail-sns__item.pocket {
    width: 91px;
  }
}

.detail-sns__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  width: 100%;
  height: 100%;
}

.detail-sns__text {
  display: none;
  color: white;
}
@media (width >= 768px) {
  .detail-sns__text {
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 3.3;
    display: block;
    padding-top: 1px;
  }
}

/* --------------------------------------------------
detail-content-quotation
-------------------------------------------------- */
.detail-content-quotation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.125em;
     -moz-column-gap: 1.125em;
          column-gap: 1.125em;
  padding: 1em 1.25em 0.6875em 1.5625em;
  margin-bottom: 1.75em;
  background: #e8e8e8;
}
@media (width >= 768px) {
  .detail-content-quotation {
    -webkit-column-gap: 9px;
       -moz-column-gap: 9px;
            column-gap: 9px;
    padding: 18px 30px 10px 31px;
    margin-bottom: 28px;
  }
}

.detail-content-quotation__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.6875em;
  height: 1.4375em;
  margin-top: 0.125em;
}
@media (width >= 768px) {
  .detail-content-quotation__image {
    width: 27px;
    height: 23px;
    margin-top: 2px;
  }
}

/* --------------------------------------------------
detail-content-bottom
-------------------------------------------------- */
.detail-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.375em;
     -moz-column-gap: 1.375em;
          column-gap: 1.375em;
  margin-top: 2.6875em;
}
@media (width >= 768px) {
  .detail-content-bottom {
    -webkit-column-gap: 79px;
       -moz-column-gap: 79px;
            column-gap: 79px;
    margin-top: 52px;
  }
}

.detail-content-bottom__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375em;
}
@media (width >= 768px) {
  .detail-content-bottom__box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }
}

.detail-content-bottom__link[class] {
  font-size: 1.0625em;
  line-height: 1.7647;
  display: block;
  padding: 0.25em 0 0.1875em;
  color: white;
  background: black;
}
@media (width >= 768px) {
  .detail-content-bottom__link[class] {
    grid-column: span 2;
    padding: 5px 0 2px;
  }
}
.detail-content-bottom__prev .detail-content-bottom__link[class] {
  padding-left: 1.1875em;
}
.detail-content-bottom__next .detail-content-bottom__link[class] {
  padding-right: 1.125em;
  text-align: right;
}

.detail-content-bottom__image-link {
  display: none;
}
@media (width >= 768px) {
  .detail-content-bottom__image-link {
    display: block;
    width: 98px;
  }
}

.detail-content-bottom__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5625;
  height: 76px;
  overflow: hidden;
}
@media (width >= 768px) {
  .detail-content-bottom__title {
    height: 70px;
  }
}

/* --------------------------------------------------
detail-aside
-------------------------------------------------- */
.detail-aside {
  margin-top: 1.875em;
}
@media (width >= 768px) {
  .detail-aside {
    margin-top: 30px;
  }
}

.detail-aside__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.8333;
  padding: 0.6111em 0 0.3333em;
  color: white;
  text-align: center;
  background: black;
}

/* --------------------------------------------------
detail-related
-------------------------------------------------- */
.detail-related {
  margin-top: 3.875em;
}
@media (width >= 768px) {
  .detail-related {
    margin-top: 98px;
  }
}

@media (width >= 768px) {
  .detail-related__head {
    padding: 10px 0 7px 31px;
    text-align: unset;
  }
}

.detail-related__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.3125em;
  margin-top: 1.25em;
}
@media (width >= 768px) {
  .detail-related__list {
    row-gap: 30px;
    margin-top: 30px;
  }
}

.detail-related__card.blog-card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
  -webkit-column-gap: 1.25em;
     -moz-column-gap: 1.25em;
          column-gap: 1.25em;
}
@media (width >= 768px) {
  .detail-related__card.blog-card {
    grid-template-columns: auto 1fr;
    gap: 14px 32px;
  }
}
.detail-related__card.blog-card .blog-card__image-box {
  grid-row: span 2;
}
.detail-related__card.blog-card .blog-card__image {
  width: 10em;
  height: 6.875em;
  aspect-ratio: unset;
}
@media (width >= 768px) {
  .detail-related__card.blog-card .blog-card__image {
    width: 200px;
    height: 140px;
  }
}
.detail-related__card.blog-card .blog-card__tag {
  width: 5.3333em;
}
.detail-related__card.blog-card .blog-card__title {
  font-size: 1.0625rem;
  line-height: 1.6471;
  height: 3.2941em;
  margin-top: 0.5625em;
  overflow: hidden;
}
@media (width >= 768px) {
  .detail-related__card.blog-card .blog-card__title {
    font-size: 1.1111rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: unset;
    text-align: unset;
  }
}
.detail-related__card.blog-card .blog-card__date {
  text-align: unset;
}
@media (width >= 768px) {
  .detail-related__card.blog-card .blog-card__date {
    padding-left: 3px;
  }
}

/* --------------------------------------------------
detail-magazine
-------------------------------------------------- */
@media (width >= 768px) {
  .detail-magazine {
    margin-top: unset;
  }
}

.detail-magazine__container {
  padding: 1.1875em 1.25em;
  border: 0.5px solid #000;
}
@media (width >= 768px) {
  .detail-magazine__container {
    padding: 15px;
  }
}

.detail-magazine__image {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.8333;
  display: grid;
  place-items: center;
  width: 100%;
  height: 12.6667em;
  padding-top: 0.2222em;
  background: #e8e8e8;
}
@media (width >= 768px) {
  .detail-magazine__image {
    height: 170px;
  }
}

/* --------------------------------------------------
detail-search
-------------------------------------------------- */
@media (width >= 768px) {
  .detail-search {
    margin-top: 28px;
  }
}

.detail-search__container {
  padding: 1.1875em 1.25em;
  border: 0.5px solid #000;
}
@media (width >= 768px) {
  .detail-search__container {
    padding: 15px 15px 16px;
  }
}

.detail-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3.375em;
}
@media (width >= 768px) {
  .detail-search__form {
    height: 40px;
  }
}

.detail-search__input {
  display: block;
  width: 100%;
  height: 100%;
  background: #e8e8e8;
  border: unset;
}

.detail-search__button {
  display: grid;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  place-items: center;
  width: 3.375em !important;
  font-size: inherit;
  background: black;
  border: unset;
}
@media (width >= 768px) {
  .detail-search__button {
    width: 40px !important;
    padding-left: 2px;
  }
}

/* --------------------------------------------------
detail-recommend
-------------------------------------------------- */
.detail-recommend__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.3125em;
  margin-top: 1.25em;
}
@media (width >= 768px) {
  .detail-recommend__list {
    row-gap: 15px;
    margin-top: 15px;
  }
}

.detail-recommend__card.blog-card {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  -webkit-column-gap: 1.25em;
     -moz-column-gap: 1.25em;
          column-gap: 1.25em;
}
@media (width >= 768px) {
  .detail-recommend__card.blog-card {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.detail-recommend__card.blog-card .blog-card__image-box {
  grid-row: span 2;
}
.detail-recommend__card.blog-card .blog-card__image {
  width: 10em;
  height: 6.875em;
  aspect-ratio: unset;
  background: rgba(80, 80, 80, 0.1);
}
@media (width >= 768px) {
  .detail-recommend__card.blog-card .blog-card__image {
    width: 95px;
    height: 75px;
  }
}
.detail-recommend__card.blog-card .blog-card__title {
  font-size: 1.0625rem;
  line-height: 1.6471;
  margin-top: 0.5625em;
  font-weight: 500;
}
@media (width >= 768px) {
  .detail-recommend__card.blog-card .blog-card__title {
    margin-top: unset;
  }
}

/* --------------------------------------------------
detail-category
-------------------------------------------------- */
.detail-category__item {
  font-size: 1.0625rem;
  line-height: 1.6471;
  padding: 0.7059em 0 0.3529em;
  border-bottom: 1px solid;
}

/* --------------------------------------------------
contact
-------------------------------------------------- */
.contact-hero__inner {
  background-image: url("../img/contact/hero-sp.jpg");
}
@media (width >= 768px) {
  .contact-hero__inner {
    background-image: url("../img/contact/hero-pc.jpg");
  }
}

.contact {
  padding: 3em 1.25em 6.75em;
}
@media (width >= 768px) {
  .contact {
    padding: 69px 20px 100px;
  }
}
.contact ~ .footer > .footer__contact {
  display: none;
}

.contact__text {
  font-size: 0.8889rem;
  line-height: 1.875;
}
@media (width >= 768px) {
  .contact__text {
    font-size: 1rem;
    line-height: 1.6667;
  }
}
@media (width > 813px) {
  .contact__text {
    text-align: center;
  }
}

.contact__container {
  font-size: 1rem;
  line-height: 1.875;
}
@media (width >= 768px) {
  .contact__container {
    max-width: 880px;
    margin-inline: auto;
  }
}

/* --------------------------------------------------
contact__form
-------------------------------------------------- */
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  margin-top: 2.125em;
}
@media (width >= 768px) {
  .contact__form {
    row-gap: 30px;
    margin-top: 65px;
  }
}

.contact-form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.125em;
  border: none;
}
@media (width >= 768px) {
  .contact-form__fieldset {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-column-gap: 1.875em;
       -moz-column-gap: 1.875em;
            column-gap: 1.875em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact-form__fieldset:nth-child(3) {
  margin-top: 0.0625em;
}
@media (width >= 768px) {
  .contact-form__fieldset:nth-child(3) {
    margin-top: unset;
  }
}
@media (width >= 768px) {
  .contact-form__fieldset:nth-child(5) {
    margin-top: -5px;
  }
}
.contact-form__fieldset:nth-child(6) {
  margin-top: -0.5625em;
}
@media (width >= 768px) {
  .contact-form__fieldset:nth-child(6) {
    margin-top: -5px;
  }
}

@media (width >= 768px) {
  .contact-form__fieldset--checkboxes,
  .contact-form__fieldset--textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (width >= 768px) {
  .contact-form__label,
  .contact-form__legend {
    font-size: 1.25em;
    line-height: 1.65;
    min-width: 140px;
    margin-top: 7px;
  }
}

@media (width >= 768px) {
  .contact-form__label--checkbox {
    font-size: 1.125em;
    line-height: 1.6667;
    margin-top: unset;
  }
}

@media (width >= 768px) {
  .contact-form__legend {
    font-size: 1.25em;
    line-height: 1.5;
    margin-top: 5px;
  }
}

.contact-form__input,
.contact-form__textarea {
  font-size: 0.9375em;
  line-height: 2.2;
  width: 100%;
  font-family: "Yu Gothic", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  border: 1px solid;
}

.contact-form__input {
  padding: 0.3125em 1.25em 0;
}

.contact-form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625em;
  margin-top: 0.0625em;
}

.contact-form__checkbox {
  font-size: 1em;
  line-height: 2.0625;
  width: 1.25em;
  aspect-ratio: 1/1;
  margin-right: 0.625em;
}
@media (width >= 768px) {
  .contact-form__checkbox {
    margin-right: 20px;
  }
}

.contact-form__text-space {
  letter-spacing: 0.9375em;
}

.contact-form__textarea {
  font-size: 0.9375em;
  line-height: 1.6667;
  height: 12.6667em;
  padding: 0.8em 1.3333em;
}
@media (width >= 768px) {
  .contact-form__textarea {
    height: 300px;
    padding: 16px 20px;
  }
}

.contact-form__button {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.3;
  height: 2.5em;
  margin-top: 1.7em;
}
@media (width >= 768px) {
  .contact-form__button {
    font-size: 1.3889em;
    font-weight: 700;
    line-height: 1.32;
    width: 250px;
    height: 50px;
    margin: 20px auto 0;
    letter-spacing: 5px;
  }
}/*# sourceMappingURL=style.css.map */