@use 'config' as *;

:root {
  --main-color: #cb0000;
}

html {
  @include mq_down {
    font-size: get_vw($default_font_size);
  }
}

body {
  // @include font-config($font-size: $default_font_size, $line-height: 30, $font-weight: 500);
  font-family: $sans_serif_font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;

  @include mq_down {
    font-size: get_vw($default_font_size);
  }

  @include mq_up {
    // @include font-config($font-size: 18, $line-height: 33, $font-weight: false, $viewport: md);
    font-size: 18px;
    line-height: 1.8333;
  }
}

:is(h1, h2, h3, h4, h5) {
  font-size: inherit;
  font-weight: inherit;
}

:is(body, h1, h2, h3, h4, h5, p, ul, li, dl, dt, dd, form, legend, label, fieldset, input, button) {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  max-height: 1000000em; /* Chrome for Android */
  text-size-adjust: 100%;
}

.img-100 {
  display: block;
  width: 100%;
  height: 100%;
}

.img-w-100 {
  display: block;
  width: 100%;
  height: auto;
}

.img-h-100 {
  display: block;
  width: auto;
  height: 100%;
}

a {
  &:link,
  &:visited {
    color: black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    // color: var(--accent-color);
    text-decoration: none;
  }
}

.br-sp {
  @include mq_up {
    display: none;
  }
}

.br-pc {
  display: none;

  @include mq_up {
    display: inline;
  }
}

.hidden {
  display: none;
}

.title {
  @include font-config($font-size: 25, $line-height: 40);

  text-align: center;

  @include mq_up {
    @include font-config($font-size: 30, $line-height: 50, $viewport: md);
  }
}

.page-title {
  @include font-config($font-size: 25, $line-height: 40);

  text-align: center;
}

main {
  padding-bottom: get_em(130);

  @include mq_up {
    padding-bottom: 144px;
  }
}

.button[class] {
  display: grid;
  place-items: center;
  color: white;
  appearance: none;
  background: var(--main-color);
  border: none;
  transition: 0.2s all;

  &:hover,
  &:active {
    color: var(--main-color);
    text-decoration: none;
    background: white;
    border: 1px solid;
  }
}

#back-to-top {
  right: get_em(20);
  bottom: get_em(20);
  width: get_em(68);
  height: get_em(68);
  opacity: 0.502;
  transition: 0.5s all;

  // z-index: 3;

  @include mq_up {
    font-size: 16px;
  }

  @include mq_up('lg') {
    right: 116px;
  }

  svg {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

/* --------------------------------------------------
blog-card
-------------------------------------------------- */

.blog-card__image-box {
  display: grid;

  @include mq_up {
    max-width: 260px;
  }

  &:hover,
  &:active {
    opacity: 0.7;
  }
}

.blog-card__tag,
.blog-card__image {
  grid-area: 1 / 1;
}

.blog-card__image {
  aspect-ratio: 335 / 200;

  @include mq_up {
    height: 200px;
    aspect-ratio: unset;
  }

  .img-w-100 {
    height: 100%;
    object-fit: cover;
  }
}

.blog-card__tag {
  @include font-config($font-size: 15, $line-height: 25);

  display: grid;
  place-items: center;
  width: get_em(90, 15);
  height: get_em(30, 15);
  color: white;
  text-align: center;
  background: var(--main-color);

  @include mq_up {
    width: 80px;
  }
}

.blog-card__title {
  @include font-config-rem($font-size: 20, $line-height: 30);

  margin-top: get_em(30, 20);

  @include mq_up {
    @include font-config-rem($font-size: 20, $line-height: 25, $font-weight: false);

    margin-top: 20px;
  }
}

.blog-card__title-link {
  &:hover,
  &:active {
    text-decoration: underline;
    opacity: 0.5;
  }
}

.blog-card__date {
  @include font-config-rem($font-size: 17, $line-height: 30, $font-weight: false);

  margin-top: get_em(6, 17);
  text-align: right;

  @include mq_up {
    margin-top: 12px;
  }
}

.blog-card__text {
  @include font-config-rem($font-size: 16, $line-height: 30, $font-weight: false);

  margin-top: get_em(5);
  margin-top: 10px;
}
